@import url(https://fonts.googleapis.com/css?family=PT+Serif:400italic);

body {
	background-image: url("https://source.unsplash.com/category/nature/");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
	height: 100%;
}

.quote {
	color: #fff;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	padding: 0 15%;
}

h1#quote {
	font-family: 'PT Serif', serif;
	text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
}